<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Bytes</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in include.entries %}
    {% assign url_array = entry.url | split: "/" %}
    {% assign col = url_array[1] %}
    {% assign id = url_array[2] %}
    <tr>
      <td>
        <a href="{{ col }}/{{ id }}">
          {{ entry.title }}
        </a>
      </td>
      <td>{{ entry.lang }}</td>
      <td>{{ entry.len }}</td>
      <td>
        <audio controls src="{{ col }}/{{ id }}/out.ogg">
          <a href="{{ col }}/{{ id }}/out.ogg" target="_blank">click here</a>
        </audio>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>