<div class="entries">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Language</th>
        <th>Bytes</th>
        <th class="audio">Listen</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in include.entries %}
      {% assign url_array = entry.url | split: "/" %}
      {% assign col = url_array[1] %}
      {% assign id = url_array[2] %}
      <tr>
        <td>
          <a href="{{ site.url }}/{{ col }}/{{ id }}/README">
            {{ entry.title }}
          </a>
        </td>
        <td>{{ entry.author }}</td>
        <td>{{ entry.lang }}</td>
        <td>{{ entry.len }}</td>
        <td>
          <audio controls src="{{ site.url }}/{{ col }}/{{ id }}/out.ogg">
            <a href="{{ site.url }}/{{ col }}/{{ id }}/out.ogg" target="_blank">click here</a>
          </audio>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>