<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Bytes</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
  {% for example in site.examples %}
    {% assign dir = example.id | remove '/README' %}
    <td>
      <a href="{{ dir }}">
        {{ example.title }}
      </a>
    </td>
    <td>{{ entry.lang }}</td>
    <td>{{ entry.len }}</td>
    <td>
      <audio controls src="{{ dir }}/out.ogg">
        <a href="{{ dir }}/out.ogg" target="_blank">click here</a>
      </audio>
    </td>
  {% endfor %}
  </tbody>
</table>